@font-face {
    font-family: 'special_gothic_expanded_oneRg';
    src: url('assets/fonts/specialgothic/specialgothicexpandedone-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/specialgothic/specialgothicexpandedone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}