button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
}
:root {
    --main-bg-color: #171717;
    --contaner-color: #bfb586;
    --text-color: #b3b3b3;
    --box-color-hover: #525252;
    --box-shadow: #787155;
    --title-text-color: #ff7b00;
    --main-text-color: white;
    --new-game-button: #115789;
    --restart-button: #bc3821;
}

body {
    background-color: var(--main-bg-color)
}
.scores {
    display: flex;
    gap: 40px;
    width: 200px;
}
.score {
    color: var(--main-text-color)
}
.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.container {
    place-items: center;
    height: 300px;
    width: 300px;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--contaner-color);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0px;
}
.container.active {
    display: grid;
}
.cell {
    background-color: var(--main-bg-color);
    border-radius: 10px;
    height: 90px;
    width: 90px;
    transition: 350ms;
    box-shadow: 3px 3px 5px var(--box-shadow);
}

.cell:hover {
    scale: 0.9;
    cursor: pointer;
    background-color: var(--box-color-hover);
}

.sign {
    height: 100%;
}

.circle {
    display: none;
}
.x {
    display: none;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    display: flex;
    color: var(--title-text-color);
    font-family: 'special_gothic_expanded_oneRg', serif;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
    color: var(--text-color)
}

.modal {
    width: 300px;
    height: 400px;
    background-color: #787155;
    display: flex;
    flex-direction: column;
    position: relative;
}

.playerPic {
    height: 50px;
}
.reButton {
    color: var(--main-text-color);
    font-family: 'special_gothic_expanded_oneRg', serif;
    height: 50px;
    width: auto;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
}
.startButton {
    background-color: var(--new-game-button);
    transition: 200ms;
}
.startButton:hover {
        scale: 1.1;
        cursor: pointer;
}
.restartButton {
    background-color: var(--restart-button);
    transition: 200ms;
}
.restartButton:hover {
        scale: 1.1;
        cursor: pointer;
}